{{page-title "TestLocaleModels"}}

Locale values below are defaultValues set on the model classes:
<br>
<br>

{{#each @model as |localeModel|}}
  model locale: {{localeModel.locale}} <br>
{{/each}}

<br><br>

<button {{on "click" this.randomLocale}}>Random Locale</button>

{{outlet}}